<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="in.co.nerdoo.chittichat">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".ChittichatApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan">
        <activity android:name=".MainActivity">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.mybar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name=".FirstActivity"
            android:label="@string/title_activity_first"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name=".TopicActivity"
            android:theme="@style/AppTheme.mybar"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <receiver
            android:name=".ConnectivityReciever"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b5c62ef9f8f2cec153058f21fb459fa61f2a06d6"/>

        <activity
            android:name=".ShowTopics"
            android:theme="@style/AppTheme.mybar"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".CreateNewGroup">
        </activity>
        <activity android:name=".SignupActivity">
        </activity>
        <activity
            android:name=".showUsersOrGroupsActivity"
            android:label="@string/title_activity_show_users_or_groups"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Group_suggestions">
        </activity>
        <activity android:name=".NotificationActivity">
        </activity>
    </application>

</manifest>